nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: beige;
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    top: 0; 
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: right;
    margin-left: 40px; 
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
nav ul li a:hover {
    background-color: #ce935a;
}
footer {
    position: fixed;
    color: rgb(99, 96, 96);
    width: 100%;
    bottom: 0px;
    text-align: center;
    z-index: 1;
    padding: 10px 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background:url(images/map_backgroung.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2); /* White translucent layer */
    z-index: -1; /* Ensures it stays in the background */
}

body {
    font-family: Arial, sans-serif;
}

.buttons {
    margin-bottom: 20px;
    z-index: 1;
}

.question-button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.popup {
    display: none; /* Initially hidden */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

div[class^="png"] {
    position: absolute; /* Position all divs as absolute */
}

/* Positioning for each image */
.png2 {
    top: 580px;
    left: 800px;
    width: 200px; /* Size adjustments */
}

.png3 {
    top: 420px;
    left: 1180px;
    width: 200px; /* Size adjustments */
}

.png5 {
    top: 300px;
    left: 0px;
    width: 600px; /* Size adjustments */
}

.png10 {
    top: 440px;
    left: 560px;
    width: 200px;
}

.png11 {
    top: 20px;
    left: 150px;
    width: 250px; /* Size adjustments */
}

.png12 {
    top: 50px;
    left: 1270px;
    width: 100px; /* Size adjustments */
}
.png15 {
    top: 240px;
    left: 540px;
    width: 130px; /* Size adjustments */
}

.png16 {
    top: 50px;
    left: 1200px;
    width: 300px; /* Size adjustments */
}

.png17 {
    top: 40px;
    left: 750px;
    width: 450px; /* Size adjustments */
}

/* Size adjustments for images */
div[class^="png"] img {
    width: 100%; /* Scale images to fit the container width */
    height: auto; /* Maintain aspect ratio */
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.question-button:nth-child(7) { top: 13%; left: 28%; }
.question-button:nth-child(6) { top: 40%; left: 33%; }
.question-button:nth-child(9) { top: 35%; left: 63%; }
.question-button:nth-child(4) { top: 80%; left: 20%; }
.question-button:nth-child(5) { top: 55%; left: 10%; }
.question-button:nth-child(10) { top: 12%; left: 73%; }
.question-button:nth-child(3) { top: 70%; left: 40%; }
.question-button:nth-child(2) { top: 85%; left: 63%; }
.question-button:nth-child(1) { top: 60%; left: 80%; }
.question-button:nth-child(8) { top: 10%; left: 50%; }

.buttons {
    position: relative;
    width: 100%;
    height: 100vh;
}

.question-button {
    background-image: url('images/treasure-button.png');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    border: none;
    color: saddlebrown;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-shadow: 1px 1px 2px black;
    position: absolute;
}

.question-button:disabled {
    filter: grayscale(100%);
    cursor: not-allowed;  /* Kilitli butonun imlecini değiştir */
}

.question-button:hover {
    opacity: 0.8;
    color: yellow; /* Hover durumunda yazı rengini sarı yap */
}


@keyframes shine {
    0% {
        filter: drop-shadow(0 0 10px #ffd700) drop-shadow(0 0 20px #ffd700) drop-shadow(0 0 30px #ffd700) drop-shadow(0 0 40px #ff8c00);
    }
    50% {
        filter: drop-shadow(0 0 20px #ffd700) drop-shadow(0 0 30px #ffd700) drop-shadow(0 0 40px #ffd700) drop-shadow(0 0 50px #ff8c00);
    }
    100% {
        filter: drop-shadow(0 0 10px #ffd700) drop-shadow(0 0 20px #ffd700) drop-shadow(0 0 30px #ffd700) drop-shadow(0 0 40px #ff8c00);
    }
}

.shining {
    animation: shine 1.5s ease-in-out infinite;
}




