body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c2bf97;
}
nav {
    background-color: #90613b;
    overflow: hidden;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: right;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #ce935a;
}